*,
*::before,
*::after{
	margin : 0px;
	border: 0px;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 1001;
	background: url(/img/preloader.gif) no-repeat center;
}


/* header */
nav{
	z-index: 999;
}
ul{
	background-color: rgb(48, 47, 47);
	opacity: .9;
	height:15%;
	width: 100%;
	position: fixed;
	z-index: 1;
}
.menu{
	height: 100%;
	display: inline-flex;
	justify-content: end;
	align-items: center;
	float : right;	
}
ul li{
	list-style: none;
	margin: 5px 20px; 
}
ul li a{
	text-decoration: none;
	font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
	color: white;
	display: inline-block;
}
ul #logo{
	color : #f4af1b;
	display: inline-flex;
	width: fit-content;
	align-items: center;
	height: 100%;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	font-size: 25px;
}

.titlebar .checkbtn{
	color: white;
	font-size: 25px;
	cursor: pointer;
	float: right;
	position: absolute;
	top: 30% ;
	right: 40px;
	display: none;
}
#check{
	display: none;
}
ul li a:hover{
	color: black;
	background-color: white;
	border-radius: 3px;
	transition: .4s ease-out;
}

/* SECTION main */
#main{
	background-image: url("../img/main_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	width: 100%;
	opacity: .9;
}
#main .myinfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.package{
	text-align: center;
	margin-top: 140px;
	color: #fff;
}
#main .myinfo .start{
	font-size: 90px;
}
.hello{
	font-family: 'Exo 2', sans-serif;
}
.name{
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
	color:#0538c7;
}
.myInfo, .profession{
	color:rgb(150, 144, 144);
	margin-top: 15px;
	text-decoration:underline;
}

/* SECTION About */
#About{
	background-color: rgb(209, 209, 209);
}
#About .heading{
	text-align: center;
}
#About .container h1{
	padding-top: 70px;
	font-size: 70px;
	font-family: 'Waterfall', cursive;
}
.container .under-about::before{
	content:"";
	position : absolute;
	left : 50%;
	width : 210px;
	height : 3px;
	margin-top: 3px;
	background-color: #000;
	transform: translate(-50%);
}
.container .under-about::after{
	content: "Who I am ?";
	position: absolute;
	padding: 0 5px;
	margin-top: -5px;
	left: 50%;
	transform: translate(-50%);
	background-color: rgb(209, 209, 209);
	color:#000;
	box-shadow: 0px 0px 5px 5px rgb(209, 209, 209);
}
.box{
	display: flex;
	z-index: 998;
	justify-content: space-around;
}
.container .imgholder img{
	width : 320px;
	box-shadow: 10px 10px 3px rgb(92, 90, 90);
	margin: 50px auto;
}
.container .box .imgcontent {
	align-items: center;
	width: 40%;
	padding:10px;
	margin-top: 60px;
}
.container .box .imgcontent p{
	font-size: 20px;
	text-align: justify;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-shadow:  2px 1px 2px #fff;
}

/* SECTION skills */
#skill{
	background-image: url("../img/skills_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: fit-content;
	opacity: .9;
}
.container h1{
	padding-top: 65px;
	font-size: 90px;
	font-family: 'Waterfall', cursive;
	color: #f4af1b;
	text-align: center;
}
.underline::before{
	content:"";
	position : absolute;
	left : 50%;
	width : 140px;
	height : 3px;
	background-color: #000;
	transform: translate(-50%);
}
.container .skills-list {
	margin-top: 5px;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.container .skills-list img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: #fff;
	padding: 20px;
	margin: 30px auto;
	box-shadow: 0px 0px 6px 3px gray;
}

.container .skills-list img:hover{
	box-shadow: 0px 0px 6px 7px gray;
	transform: scale(1.1,1.1);
	transition: all .2s ease-out;
}

/* SECTION project */
#project{
	background-color: rgb(252, 250, 250);
}
.project-container{
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	margin-top: 50px;
	width: 100%;
	row-gap: 20px;
}
.project-container .project-box{
	border-radius: 5px;
	height: fit-content;
	background-color: #89d6f5;
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	box-shadow: 0px 0px 15px 5px rgb(85, 84, 84);
}
.project-info {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
 }
.project-container .project-box:hover{
	transition: all .2s ease-out;
	box-shadow: 0px 0px 35px 20px rgb(197, 194, 194);
	transform : scale(1.05,1.05);
}
.project-box, .project-box img{
	width: 300px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.project-container .project-box h2{
	color: #000;
	margin: 10px 15px;
	font-size: 25px;
}
.project-container .project-box p{
	padding: 0px 20px 15px;
	color: #00154f;
	text-align: justify;
}
.project-container .project-box .website-link{
	background-color: #fff;
	color: #000;
	text-decoration: none;
	padding: 8px;
	margin: 10px;
	width: fit-content;
}
.project-container .project-box .website-link:hover{
	background-color: #f4af1b;
	transition: all .1s ease-in;
	color: #fff;
}

/* SECTION contact */
#contact{
	background-color: #00154f;
}
.contact-ways{
	width: 100%;
	height :fit-content;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns:1fr 1fr;
	grid-template-rows:  1fr;
}
.formwrapper{
	margin: 30px auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 60%;
	background-color: rgb(95, 90, 90);
	padding: 20px;	
	border-radius: 5px;
}
.form-line{
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	font-size:30px;
	color:darkgray;
	font-weight: 800;
	text-align: center;
	text-decoration: underline;
}
.user-input, .send{
	display: block;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
	width: 90%;
	outline: none;
}
.user-input:focus{
	background-color: #f2bc94;
	border: 2px solid rgb(179, 45, 45);
}
.contactThroughForm .message{
	resize:vertical;
	min-height: 35px;
	max-height:300px;
}
.contactThroughForm .send{
	font-weight: 800;
	padding: 10px;
	color: rgb(95, 90, 90);
	border-radius: 5px;
	width: 100px;
	cursor: pointer;
}
.contactThroughForm .send:hover, .contactThroughForm .send:focus{
	transition: .2s ease-out;
	color: #fff;
	background-color: chartreuse;
} 
.infowrapper{
	margin: 0 auto;
	width: 75%;
}
.contactinfo .infowrapper .info-header{
	font-size: 55px;
	color: #f2bc94;
	margin-bottom:30px;
	text-decoration: underline;
}
.contactinfo .infowrapper .info-content{
	color:#fff;
	width: 90%;
	font-size: 15px;
	margin-bottom: 20px;
}
.content-item{
	width: fit-content;
	padding: 15px 20px;
	margin-bottom: 10px;
	border-radius: 3px;
}
.contactinfo .infowrapper .myMailId{
	background-color: #f55730;
}
.contactinfo .infowrapper .myContactNumber{
	background-color: rgba(28, 156, 241, 0.933);
	cursor: not-allowed;
}
.contactinfo .infowrapper .mylocation{
	background-color: #57f792;
}
.contactinfo .infowrapper .content-item:hover{
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 8px 4px gray;
	transition: all .3s ease;
}

/* footer */
.endbox{
	width: 100%;
	height: fit-content;
	background-color: rgb(48, 47, 47);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.copyrightmesssge{
	width: 100%;
	color: #fff;
	margin-top: 25px;
	text-align: center;	
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.policy, .policy a {
	color: #fff;
	margin:15px 0;
}
.policy a:hover{
	color: blue;
	transition: all .2s ease-in;
}
.TandC{
	border-right: 1px solid #fff;
	padding: 0 10px;
}
.medialinks{
	padding: 0 10px 0 5px;
 }

/* WINDOW SCREEN WITH 1150 PX */
@media (max-width:1150px) {
	/* Projects */
	.project-box, .project-box img {
		width: 255px;
	}
	.project-container .project-box h2 {
		font-size: 22px;
	}
	.project-container .project-box p {
		font-size: 15px;
	}
	
	/* contact */
	.contactinfo .infowrapper .info-header{
		font-size: 44px;
	}	
	.contactinfo .infowrapper .info-content{
		font-size: 12px;
	}
	.formwrapper{
		width: 70%;
	}
}

/* WINDOW SCREEN WITH 960 PX */
@media (max-width:960px) {
	/* heading */
	ul li {
		margin: 5px 8px;
	}
	
	/* main */
	#main .myinfo .start {
		font-size: 60px;
	}
	.name {
		font-size: 80px;
	}
	.myInfo, .profession {
		font-size: 13px;
	}

	/* about */
	.container .imgholder img {
		width: 250px;
	}
	.container .box .imgcontent p {
		font-size: 18px;
	}
	
	/* projects */
	#project .project-container{
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}		

	/* contact */
	.contactinfo .infowrapper .info-header{
		font-size: 40px;
	}	
	.formwrapper{
		width:75%;
	}
	.content-item{
		padding: 10px 15px;
	}
}

/* WINDOW SCREEN WITH 880 PX */
@media (max-width:880px) {
	/* heading */
	ul li{
		color: red;
		list-style: none;
		margin: 5px 10px; 
	}	
	.titlebar .checkbtn{
		display: block;
	}	
	.menu{
		height: fit-content;
		display: block;
		width: 100%;
		background-color:rgb(48, 47, 47);
		text-align: center;
		position: fixed;
		top:-105%;
		left:0%;
		transition: all .5s;
	}
	#check:checked ~ .menu{
		top: 15%;
	}

	/* skills */
	.container .skills-list img {
		height: 130px;
	}
	
	/* contacts */
	.contactinfo .infowrapper .info-header {
		font-size: 34px;
	}
	.formwrapper {
		padding: 10px;
		width:80%;
	}
}

/* WINDOW SCREEN WITH 750 PX */
@media (max-width:750px) {
	/* main */
	#main .myinfo .start {
		font-size: 50px;
	}
	.name {
		font-size: 70px;
	}
	.myInfo, .profession {
		font-size: 12px;
	}
	
	/* about */
	.box {
		flex-direction: column;
		align-items: center;
	}
	.container .imgholder img{
		width : 300px;
	}
	.container .box .imgholder{
		margin: 0 auto;
	}
	.container .box .imgcontent {
		width: 100%;
		padding: 0px 50px 50px;
	}
	.container .box .imgcontent p {
		font-size: 18px;
	}
	.container .box .imgcontent {
		margin-top: 0px;
	}
	
	/* skills */
	.container .skills-list {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	
	/* projects */
	.project-container .project-box h2 {
		margin: 15px 10px;
	}
	.project-box {
		row-gap: 10px;
	}
	.project-box, .project-box img {
		width: 220px;
	}
	
	/* contacts */
	.contact-ways{
		display: flex;
		flex-direction: column;
	}
	.formwrapper {
		width: 60vw;
	}
	.contactThroughForm .send{
		width: 90%;
	}
	.infowrapper {
		margin-top: 20px;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contactinfo .infowrapper .info-header {
		margin-top: 30px;
		font-size: 40px;
	}
	.contactinfo .infowrapper .info-header {
		margin-bottom: 25px;
	}
	.contactinfo .infowrapper .info-content, 
	.contactinfo .infowrapper .info-header {
		text-align: center;
	}
	
	/* footer */
	.copyrightmesssge{
		font-size: 15px;
	}
}

/* WINDOW SCREEN WITH 600 PX */
@media (max-width:600px){
	/* heading */
	ul #logo {
		margin-left: -20px;
		font-size: 22px;
	}

	/* main */
	#main .myinfo .start {
		font-size: 45px;
	}
	.name {
		font-size: 60px;
	}
	
	/* about */
	.container .imgholder img {
		width: 270px;
	}
	.container .box .imgcontent {
		align-items: center;
	}
	
	/* project */
	#project .project-container {
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}
	.project-container .project-box {
		flex-direction: row;
		border-radius: 5px;
		margin: 20px auto;
		width: 90%;
		height: fit-content;
	} 
	.project-box, .project-box img {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top-right-radius: 0px;
		width: 230px;
		height: auto;
	}
	#project .container .project-container h2{
		font-size: 20px;
	}
	.project-container .project-box p {
		padding: 0px 15px;
	}
	
	/* contacts */
	.infowrapper {
		width: 85%;
	}
	.contactinfo .infowrapper .info-header {
		font-size: 35px;
	}
	.contactinfo .infowrapper .info-content {
		font-size: 14px;
	}
	.formwrapper {
		width: 90vw;
	}

	/* footer */
	.copyrightmesssge{
		font-size: 17px;
	}
}

/* WINDOW SCREEN WITH 450 PX */
@media (max-width:450px){
	/* heading  */
	.titlebar .checkbtn {
		top: 35%;
	}

	/* about */
	.project-container .project-box p {
		font-size: 19px;
	}

	/* projects */
	.project-container .project-box {
		flex-direction: column;
		width: 75%;
	}
	.project-box, .project-box img {
		width: 100%;
	}

	/* contacts */
	.formwrapper {
		width: 100vw;
	}
	.contactinfo .infowrapper .info-content {
		font-size: 18px;
	}
}

/* WINDOW SCREEN WITH 375 PX */
@media (max-width:375px){
	/* heading */
	ul #logo {
		font-size: 20px;
	}
	.titlebar .checkbtn {
		font-size: 22px;
		top: 35%;
		right: 28px;
	}

	/* main */
	#main .myinfo .start {
		font-size: 35px;
	}
	.name {
		font-size: 50px;
	}
	.myInfo, .profession {
		font-size: 10px;
	}

	/* about */
	.container .imgholder img {
		width: 220px;
	}
	.container .box .imgcontent {
		padding: 0px 40px 50px;
	}

	/* skills */
	.container .skills-list img {
		width: 110px;
		height: 110px;
	}

	/* contacts */
	.formwrapper {
		width: 100vw;
		border-radius: 0px;
	}

	/* footer */
	.copyrightmesssge, .policy, .policy a {
		font-size: 16px;
	}
}

/* WINDOW SCREEN WITH 320 PX */
@media (max-width:320px){
	/* contacts */
	.contactinfo .infowrapper .info-content {
		font-size: 13px;
	}
}