*{
	margin : 0px;
	border: 0px;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	
}
body{
	background-color:beige;
}

nav{
	z-index: 999;
}
ul{
	background-color:rgb(53, 44, 44);
	opacity: .9;
	margin-top: 5px;
	height: 50px;
	border-radius: 40px;
	width: 100%;
	position: fixed;
	z-index: 1;
}
.menu{
	display: inline-flex;
	justify-content: end;
	float : right;	
	
}
ul li{
	list-style: none;
	margin: 5px 20px; 
}
ul li a{
	text-decoration: none;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
	color: white;
	display: inline-block;
}
ul #logo{
	color : white;
	margin-top: 7px;
	display: inline-block;
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
}

.titlebar .checkbtn{
	color: white;
	font-size: 25px;
	cursor: pointer;
	float: right;
	position: absolute;
	top:10px;
	right: 40px;
	display: none;
}
#check{
	display: none;
}
ul li a:hover{
	color: black;
	background-color: white;
	border-radius: 3px;
	transition: .4s ease-out;
}


/* SECTION main */
#main{
	display: flex;
}
#main .info{
	width: 100%;
	/* height: 100vh; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
}

.info .devInfo{
	margin :0 auto ;
	
}
.package{
	width: fit-content;
}
#main .info .devInfo .start{
	font-size: 40px;
}
.hello{
	color:red;
	font-family: 'Exo 2', sans-serif;
}
.name{
	font-size: 70px;
	font-family: 'Dancing Script', cursive;
}
.myInfo{
	margin-top: 5px;
}

.profileimgarea{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main .pic{
	margin-top: 70px;
}
#main .pic img{
	height : 85vh; 
}
#main .pic img{
	height : 80vh; 
}


/* SECTION About */

#About .heading{
	text-align: center;
}

#About .container h1{
	padding-top: 60px;
	font-size: 70px;
	font-family: 'Waterfall', cursive;
}
.container .under-about::before{
	content:"";
	position : absolute;
	left : 50%;
	width : 210px;
	height : 3px;
	margin-top: 3px;
	background-color: #000;
	transform: translate(-50%);
}

.container .under-about::after{
	content: "Who I am ?";
	position: absolute;
	padding: 0 5px;
	margin-top: -5px;
	left: 50%;
	transform: translate(-50%);
	background-color: beige;
}

.box{
	display: flex;
	z-index: 998;
	justify-content: space-around;
}
.container .imgholder img{
	width : 320px;
	margin: auto 0;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 2px 3px 3px 2px rgb(43, 42, 42),
	4px 6px 3px 2px rgb(138, 131, 131);
}

.container .box .imgcontent {
	align-items: center;
	width: 40%;
	padding:10px;
	margin-top: 60px;
}

.container .box .imgcontent p{
	font-size: 20px;
	text-align: justify;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-shadow: 1px 1px 3px gray, 2px 2px 5px #fff;
}

/* SECTION skills */
.container{
	width : 100%;
}
.container h1{
	padding-top: 30px;
	font-size: 90px;
	font-family: 'Waterfall', cursive;
	text-align: center;
}
.underline::before{
	content:"";
	position : absolute;
	left : 50%;
	width : 140px;
	height : 3px;
	background-color: #000;
	transform: translate(-50%);
}
.container .skills-list {
	margin-top: 5px;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.container .skills-list img{
	width: 150px;
	margin: 0 auto;
	margin-top: 30px;
}


/* SECTION project */
.project-box{
	width: 100%;
	margin-top: 50px;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	row-gap: 50px;
	place-items: center;
}

.project-container{
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 4px;
	width: 200px;
}

.project-box .project-container img{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#project .container .project-box a{
	text-decoration: none;
	color: #000;
}

#project .container .project-container h2{
	text-align: center;
	padding: 7px 10px;
	font-size: 23px;
	font-family:'Times New Roman', Times, serif;
}


/* SECTION contact */

#contact .container{
	width: 100%;
}

.contact-ways{
	width: 100%;
	height :fit-content;
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:  1fr;
}

.contactThroughSocialMedia{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mediawrapper{
	display: grid;
	grid-row-gap:30px ;
	grid-column-gap:35px; 
	width:fit-content;
	height: fit-content;
}
.media{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-ways .mediawrapper i{
	font-size: 60px;
	text-align: center;
	margin: 0 25px;
	border-radius: 50%;
	padding:15px;
}
.contact-ways .mediawrapper a{
	text-decoration: none;
	color: #000;
}
.contact-ways .mediawrapper i:hover{
	transition: .4s ease-out;
	color: #fff;
}
.contact-ways .mediawrapper .instagram-icon:hover{
	background: linear-gradient(45deg,#fccc63, #fbad50, #e95950 , #cd486b,#bc2a8d, #8a3ab9);
}
.contact-ways .mediawrapper .facebook-icon:hover{
	background-color: #4267B2;
}
.contact-ways .mediawrapper .github-icon:hover{
	background-color: #000;
}
.contact-ways .mediawrapper .twitter-icon:hover{
	background-color: #00acee;
}
.contact-ways .mediawrapper .linkedin-icon:hover{
	background-color: #0077b5;
}

.contactThroughForm{
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formwrapper{
	width: 100%;
	background-color: rgb(95, 90, 90);
	padding: 20px;	
	border-radius: 5px;
	margin-top: 5px;
}
.fname, .lname, .mail{
	margin: 10px 0px;
	width: 300px;
}

.contactThroughForm input,
.contactThroughForm textarea{
	padding: 10px;
	width: 100%;
	border-radius: 5px;
}
.contactThroughForm textarea{
	resize:vertical;
	min-height: 35px;
	max-height:200px;
}
.contactThroughForm .send{
	margin-top:10px;
	font-weight: 800;
	padding: 10px;
	color: rgb(95, 90, 90);
	border-radius: 5px;
	width: 100px;
	cursor: pointer;
}

.contactThroughForm .send:hover{
	transition: .2s ease-out;
	color: #fff;
	background-color: chartreuse;
}

/* footer */
.endbox{
	width: 100%;
	height: 80px;
	background-color: rgb(61, 60, 60);
	display: flex;
	justify-content: center;
	align-items: center;
}
.copyrightmesssge{
	width: 100%;
	color: #fff;
	text-align: center;	
	font-family: Georgia, 'Times New Roman', Times, serif;
}


@media (max-width:880px) {
	/* heading */
	ul li{
		color: red;
		list-style: none;
		margin: 5px 10px; 
	}	
		
	/* main */
	#main .info .devInfo .start{
		font-size: 30px;
	}
	.name{
		font-size: 60px;
	}
	.myInfo{
		font-size: 14px;
	}
	#main .pic img{
		height : 80vh; 
	}
	
	/* about */
	.container .imgholder img{
		width : 300px;
	}
	.container .box .imgcontent p{
		font-size: 18px;
	}
	
	/* skills */
	.container .skills-list img{
		width: 130px;
		width: 110px;
	}	

	/* projects */
	.project-container{
		width: 165px;
	}
	#project .container .project-container h2{
		font-size: 20px;
	}
	.mediawrapper {
		grid-row-gap: 10px;
	}
	.contact-ways .mediawrapper i{
		font-size: 50px;
		margin: 0 20px;
	}

	/* contacts */
	.contactThroughSocialMedia img{
		width: 90px;
		height: 90px;
	}
	.fname, .lname, .mail{
		width: inherit;
		width: 100%;
	}
}
	

@media (max-width:750px) {
	.titlebar .checkbtn{
		display: block;
	}	
	ul{
		border-radius: 0;
		margin-top: 0;
	}
	.menu{
		display: block;
		width: 100%;
		background-color:rgb(53, 44, 44);
		text-align: center;
		position: fixed;
		top:-350px;
		left:0%;
		transition: all .5s;
	}
	#check:checked ~ .menu{
		top: 50px;
	}

	/* main */
	#main .info .devInfo .start{
		font-size: 25px;
	}
	.name{
		font-size: 50px;
	}
	.myInfo{
		font-size: 13px;
	}
	#main .pic img{
		height : 75vh; 
	}

	/* about */
	.container .imgholder img{
gi		width : 300px;
	}
	.container .box .imgcontent p{
		font-size: 16px;
	}
	
	/* skills */
	.container .skills-list {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	/* projects */
	.project-box{
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 35px;
	}

	/* contacts */
	.contact-ways{
		display: flex;
		flex-direction: column-reverse;
	}
	.formwrapper{
		width: 70vw;
	}
	.contactThroughForm .send{
		width: 100%;
	}
	.mediawrapper{
		display: flex;
		justify-content: center;
		grid-column-gap:0;
	}
	.contact-ways .mediawrapper i{
		font-size: 30px;
		margin: 0 15px;
		margin-bottom: 10px;
	}

	/* footer */
	.copyrightmesssge{
		font-size: 15px;
	}
}

@media (max-width:600px){
	/* main */
	#main .info .devInfo .start{
		font-size: 20px;
	}
	.name{
		font-size: 40px;
	}
	.myInfo{
		font-size: 11px;
	}
	#main .pic img{
		height : 70vh; 
	}

	/* about */
	.box{
		flex-direction: column;
		align-items: center;
	}
	.container .imgholder img{
		width : 300px;
	}
	.container .box .imgcontent {
		align-items: center;
		width: 80%;
	}
	.container .box .imgcontent p{
		font-size: 15px;
	}

	/* project */
	.project-container{
		width: 155px;
	}
	#project .container .project-container h2{
		font-size: 18px;
	}

	/* footer */
	.copyrightmesssge{
		font-size: 15px;
	}
	
}

@media (max-width:460px){
	ul #logo {
		font-size: 27px;
	}
	.titlebar ul .checkbtn i{
		font-size: 20px;
	}
	ul #logo {
		margin-left: -20px;
	}
	
	/* main */
	#main .info .devInfo .start{
		font-size: 13px;
	}
	.name {
		font-size: 32px;
	}
	.myInfo {
		font-size: 8px;
	}
	#main .pic img {
		height: 70vh;
	}
	
	/* projects */
	.project-container{
		width: 140px;
	}
	#project .container .project-container h2{
		font-size: 15px;
	}
	.contact-ways .mediawrapper i {
		font-size: 26px;
		margin: 0px 0px;
		margin-bottom: 5px;
	}
	
	/* contact */
	.formwrapper {
		width: 88vw;
		padding: 18px;
	}
	
	/* footer */
	.copyrightmesssge{
		font-size: 12px;
	}
}
@media (max-width: 355px)
{
	ul #logo {
		margin-top: 10px;
		font-size: 22px;
		margin-left: -22px;
	}
	
	/* main */
	.name {
		font-size: 25px;
	}
	.myInfo {
		font-size: 6px;
	}
	#main .pic img {
		height: 60vh;
	}
	
	/* about */
	#About .container h1 {
		font-size: 50px;
	}
	.container .under-about::before {
		width: 150px;
	}
	.container .under-about::after {
		font-size: 12px;
		margin-top: -3px;
	}
	.container .imgholder img {
		width: 230px;
	}
	.container .box .imgcontent {
		margin-top: 30px;
	}
	
	/* skills  */
	.container h1 {
		padding-top: 30px;
		font-size: 60px;
	}
	.underline::before {
		width: 100px;
	}
	.container .skills-list img {
		width: 95px;
	}
	
	/* project */
	.project-container {
		width: 105px;
	}
	#project .container .project-container h2 {
		font-size: 11px;
	}
	
	/* footer  */
	.copyrightmesssge {
		font-size: 10px;
	}
}

@media (max-width:300px){
	ul #logo {
		margin-top: 14px;
		font-size: 18px;
	}
	.titlebar ul .checkbtn i{
		font-size: 18px;
		margin-right: -16px;
	}

	/* main */
	.name {
		font-size: 20px;
	}
	.myInfo {
		font-size: 5px;
	}
	#main .pic img {
		height: 52vh;
	}
	
	/* about */
	#About .container h1 {
		font-size: 45px;
	}
	.container .under-about::before {
		width: 140px;
	}
	.container .under-about::after {
		font-size: 10px;
		margin-top: -2px;
	}
	.container .imgholder img {
		width: 180px;
	}
	.container .box .imgcontent p {
		font-size: 14px;
	}
	
	/* skills */
	.container .skills-list img {
		width: 85px;
	}
	
	/* projects */
	.project-container {
		width: 95px;
	}
	#project .container .project-container h2 {
		font-size: 10px;
	}
	
	/* contact */
	.formwrapper {
		width: 88vw;
		padding: 18px;
	}
	.contact-ways .mediawrapper i {
		padding: 10px;
	}
}
